
# But not these files...
/jhotdraw60b1/
!jhotdraw60b1/src
/jdk6-master/
!jdk6-master/jdk/src/share/classes/java/awt
/ant-rel-1.6.2/
!ant-rel-1.6.2/src/main

/libphonenumber-master/
!libphonenumber-master/cpp/
!libphonenumber-master/java/
!libphonenumber-master/javascript/

/*/.AppleDouble/
/*/.settings/
/*/.uml/
/*/bin/
/11 - PMD/docs/
/11 - PMD/xdocs/
